[class^=col] {
  box-sizing: border-box;
}

.col-12 {
  width: 100%;
}

.col-10 {
  width: 83.33%;
}

.col-9 {
  width: 75%;
}

.col-8 {
  width: 66.66%;
}

.col-7 {
  width: 58.3%;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.5%;
}

.col-4 {
  width: 33.33%;
}

.col-3 {
  width: 24.99%;
}

.col-2 {
  width: 16.66%;
}

* {
  margin: 0;
  padding: 0;
  font-family: Open Sans;
}

button {
  border: none;
}

.page {
  position: relative;
}
.page__wrap {
  position: relative;
  margin: 0 auto;
  padding: 50px;
}

.task {
  padding: 10px;
  display: block;
  background: #ccc;
}
.task__list {
  list-style: none;
  padding: 10px;
}
.task__list__element {
  display: inline-block;
}
.task__list input [type=checkbox] {
  display: inline-block;
}
.task button {
  display: block;
  padding: 5px;
  margin-left: 5px;
  float: right;
}
.task button a {
  text-decoration: none;
  color: black;
}
.task__completed p {
  text-decoration: line-through;
}
.task::after {
  content: "";
  display: table;
  clear: both;
}

.fixed__wrapper {
  position: fixed;
  box-sizing: border-box;
  bottom: 0px;
}

.task__initializer {
  display: block;
  height: 50px;
  margin: 30px auto;
  box-sizing: border-box;
}
.task__initializer form {
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
}
.task__initializer input {
  border: none;
  box-sizing: border-box;
  display: block;
  height: 100%;
  width: 100%;
  padding-left: 10px;
  border: 2px solid #ccc;
  border-radius: 30px;
}
.task__initializer--submit {
  position: absolute;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border: 2px solid #ccc;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 50px;
}

@media screen and (min-width: 576px) {
  .col-sm-12 {
    width: 100%;
  }

  .col-sm-10 {
    width: 83.33%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-8 {
    width: 66.66%;
  }

  .col-sm-7 {
    width: 58.3%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-5 {
    width: 41.5%;
  }

  .col-sm-4 {
    width: 33.33%;
  }

  .col-sm-3 {
    width: 24.99%;
  }

  .col-sm-2 {
    width: 16.66%;
  }
}
@media screen and (min-width: 768px) {
  .col-md-12 {
    width: 100%;
  }

  .col-md-10 {
    width: 83.33%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-8 {
    width: 66.66%;
  }

  .col-md-7 {
    width: 58.3%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-5 {
    width: 41.5%;
  }

  .col-md-4 {
    width: 33.33%;
  }

  .col-md-3 {
    width: 24.99%;
  }

  .col-md-2 {
    width: 16.66%;
  }
}
@media screen and (min-width: 992px) {
  .col-lg-12 {
    width: 100%;
  }

  .col-lg-10 {
    width: 83.33%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-8 {
    width: 66.66%;
  }

  .col-lg-7 {
    width: 58.3%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-5 {
    width: 41.5%;
  }

  .col-lg-4 {
    width: 33.33%;
  }

  .col-lg-3 {
    width: 24.99%;
  }

  .col-lg-2 {
    width: 16.66%;
  }
}
@media screen and (min-width: 576px) {
  .col-xl-12 {
    width: 100%;
  }

  .col-xl-10 {
    width: 83.33%;
  }

  .col-xl-9 {
    width: 75%;
  }

  .col-xl-8 {
    width: 66.66%;
  }

  .col-xl-7 {
    width: 58.3%;
  }

  .col-xl-6 {
    width: 50%;
  }

  .col-xl-5 {
    width: 41.5%;
  }

  .col-xl-4 {
    width: 33.33%;
  }

  .col-xl-3 {
    width: 24.99%;
  }

  .col-xl-2 {
    width: 16.66%;
  }
}

/*# sourceMappingURL=index.css.map */
