@import "col";

* {
	margin:0;
	padding:0;
	font-family:Open Sans;
}
button {
	border:none;
}
.page {
	position:relative;
	&__wrap {
		position:relative;
		margin:0 auto;
		padding:50px;
	}
}
.task {
	padding:10px;
	display:block;
	background:#ccc;
	&__list {
		list-style:none;
		padding:10px;
		&__element {
			display:inline-block;
		}
		input [type="checkbox"] {
			display:inline-block;
		}
	}
	button {
		display:block;
		padding:5px;
		margin-left:5px;
		float:right;
	}
	button a {
		text-decoration:none;
		color:black;
	}
	&__completed {
		p {
			text-decoration:line-through;
		}
	}
	&::after {
		content:"";
		display:table;
		clear:both;
	}

}
.fixed__wrapper {
	position:fixed;
	box-sizing:border-box;
	bottom:0px;
}
.task__initializer {
	display:block;
	height:50px;
	margin:30px auto;
	box-sizing:border-box;
	form {
		height:100%;
		width:100%;
		display:block;
		position:relative;
	}
	input {
		border:none;
		box-sizing:border-box;
		display:block;
		height:100%;
		width:100%;
		padding-left:10px;
		border:2px solid #ccc;
		border-radius:30px;
	}
	&--submit {
		position:absolute;
		border-top-right-radius:30px;
		border-bottom-right-radius:30px;
		border:2px solid #ccc;
		top:0px;
		right:0px;
		height:100%;
		width:50px;
	}
}

@import "media";